@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.slick-dots li.slick-active button:before {
  color: rgb(255, 12, 12);
  font-size: 30px;
  opacity: 1;
}

.slick-dots li button:before {
  color: white;
  font-size: 5px;
  opacity: 1;
}

/* .main {
  background: linear-gradient(
      to bottom,
      rgba(22, 44, 156, 0.123),
      rgba(74, 74, 189, 0)
    ),
    url("../images/main.jpg");
  background-position: center;

  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 50px;
} */
/* .main2 {
  background: linear-gradient(
      to bottom,
      rgba(22, 44, 156, 0.123),
      rgba(74, 74, 189, 0)
    ),
    url("../images/main.jpg");
  background-position: center;

  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 50px;
} */
